skills/n8n-workflow/weekly-dev-summary.json
{
  "name": "Weekly Dev Summary - Claude API",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 17 * * 5"}]
        }
      },
      "id": "trigger",
      "name": "Weekly Trigger (Friday 5pm)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_REPO }}/commits",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "since", "value": "={{ $now.minus({days: 7}).toISO() }}"}
          ]
        }
      },
      "id": "github-commits",
      "name": "Get Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {"id": "github-token", "name": "GitHub Token"}
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_REPO }}/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "state", "value": "closed"},
            {"name": "since", "value": "={{ $now.minus({days: 7}).toISO() }}"}
          ]
        }
      },
      "id": "github-issues",
      "name": "Get Closed Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 500],
      "credentials": {
        "httpHeaderAuth": {"id": "github-token", "name": "GitHub Token"}
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_REPO }}/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "state", "value": "closed"},
            {"name": "since", "value": "={{ $now.minus({days: 7}).toISO() }}"}
          ]
        }
      },
      "id": "github-prs",
      "name": "Get Merged PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 700],
      "credentials": {
        "httpHeaderAuth": {"id": "github-token", "name": "GitHub Token"}
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Generate a weekly development summary for {{ $env.GITHUB_REPO }}.\n\nCommits this week:\n{{ $json.commits.map(c => '- ' + c.commit.message).join('\\n') }}\n\nClosed Issues:\n{{ $json.issues.map(i => '- #' + i.number + ': ' + i.title).join('\\n') }}\n\nMerged PRs:\n{{ $json.prs.map(p => '- #' + p.number + ': ' + p.title).join('\\n') }}\n\nWrite a narrative summary in {{ $env.LANGUAGE }} highlighting key changes, contributors, and impact. Keep it concise (2-3 paragraphs)."
            }
          ]
        }
      },
      "id": "claude-api",
      "name": "Claude API Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 500],
      "credentials": {
        "httpHeaderAuth": {"id": "claude-api-key", "name": "Claude API Key"}
      }
    },
    {
      "parameters": {
        "url": "={{ $env.WEBHOOK_URL }}",
        "sendBody": true,
        "bodyContent": "={{ {text: $json.content[0].text, repo: $env.GITHUB_REPO, week: $now.minus({days: 7}).toISODate() + ' to ' + $now.toISODate()} }}",
        "options": {}
      },
      "id": "send-webhook",
      "name": "Send to Discord/Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 500]
    }
  ],
  "connections": {
    "Weekly Trigger (Friday 5pm)": {"main": [[{"node": "Get Commits", "type": "main", "index": 0}]]},
    "Get Commits": {"main": [[{"node": "Merge All Data", "type": "main", "index": 0}]]},
    "Get Closed Issues": {"main": [[{"node": "Merge All Data", "type": "main", "index": 1}]]},
    "Get Merged PRs": {"main": [[{"node": "Merge All Data", "type": "main", "index": 2}]]},
    "Merge All Data": {"main": [[{"node": "Claude API Summary", "type": "main", "index": 0}]]},
    "Claude API Summary": {"main": [[{"node": "Send to Discord/Slack", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-30T12:30:00.000Z",
  "versionId": "1.0.0"
}